[run]
omit =
    */__dishka_*
    */tests/*
    examples/*
    src/glpi_tools/*
    worker.py
    scripts/*
    labs/*
    docs/*
    prompt_tester_langgraph.py

[report]
exclude_lines =
    pragma: no cover
