# Segurança
.env
*.env
*.secret
venv312
.myenv
myenv/

# Runtime
*.sha256
log.jsonl
logs/
__pycache__/
.coverage
htmlcov/
.venv/
venv/
.vscode/
*src/glpi_dashboard_cau.egg-info/
build/
resources/data/

# Node
node_modules/
src/frontend/react_app/node_modules/
src/frontend/react_app/.next/
pacts/
pact-mock-service.log
bug_prompt.md
prompts/
.cache/
*.py[cod]
*$py.class
