# Segurança
.env
*.env
*.secret
venv312
# Runtime
*.sha256
log.jsonl
logs/
__pycache__/
.coverage
htmlcov/
.venv/
venv/
.vscode/
log.jsonl
logs/
*src/glpi_dashboard_cau.egg-info/

# Node
node_modules/
frontend/node_modules/
frontend/.next/
pacts/
pact-mock-service.log
