pytest
pytest-cov
pytest-asyncio
flake8
mypy
black
isort
ruff
testcontainers
playwright
dash[testing]
pytest-mock
types-requests
types-redis
pytest-httpx
pact-python
pydantic-to-typescript
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-logging
opentelemetry-instrumentation-redis
opentelemetry-instrumentation-requests
opentelemetry-instrumentation-aiohttp-client
pre-commit
requests-mock
dash-bootstrap-components
libcst
