pytest
pytest-cov
pytest-asyncio
python-dotenv>=1.0
flake8
mypy
black
isort
ruff==0.12.2
testcontainers
playwright
dash[testing]
pytest-mock
types-requests
types-redis
pytest-httpx
aiohttp>=3.9
pandas
pact-python
pydantic-to-typescript
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-logging
opentelemetry-instrumentation-redis
opentelemetry-instrumentation-requests
opentelemetry-instrumentation-aiohttp-client
